<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="imagens/fitplanlogo.png" type="image/png">
    <title>FitPlan</title>
</head>
<body class="bg-white">
    <header>
        <div class="container m-auto row justify-content-between w-100">
            <form class="col-4 p-1" style="width: 80px; height: 80px;">
                <button class="btn rounded-0 w-100 h-100" 
                style="background-image: url(imagens/iconeperfil.png); background-size: contain;"></button>
            </form>
            <form class="col-4 p-0" style="width: 80px; height: 80px;">
                <button class="btn rounded-0 w-100 h-100" 
                style="background-image: url(imagens/fitplanlogo.png); background-size: contain;"></button>
            </form>
        </div>
        <div class="w-100 text-white p-2" style="background-color: rgb(46, 204,113);">
          <h1>Criar treino</h1>
        </div>
    </header>
    <main class="container-fluid p-0 mt-2" id="criarficha">
      <label>Nome</label>
      <input type="text">
      <section class="mt-4" style="height: 60vh;">
        <button class="botao-edicao">+ ADICIONAR DIA</button>
      </section>
    </main>
    <script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
</body>
</html>